{
    "presets": [
        ["env", {
            "targets": {
                "browsers": [
                    "last 2 versions",
                    "> 1%"
                ]
            },
            "modulues": false,
            "debug": true
        }],
        "stage-2"
    ]
}
