/**
 * _global
 * scss变量，placeholder，mixin，function
 */

/* variable
   ========================================================================== */

// color
$color_base: #333 !default;
$color_a: #ccc !default;
$color_b: #c7254e !default;
$color_c: #f5d6df !default;
$color_d: #eee !default;
$color_e: #3bb4f2!default;

// size
$size_base: 0.14rem !default;
$size_lg: 0.24rem !default;
$size_md: 0.20rem !default;
$size_sm: 0.16rem !default;

// direction
$directions: (
    top: top,
    right: right,
    bottom: bottom,
    left: left
) !default;

/**
 * 获取方位值
 * @param  {String} $d 方位
 * @return {String}    方位
 * e.g. direction(left) => left
 */
@function direction($d) {
    @return map-get($directions, $d);
}

/* placeholder
   ========================================================================== */

%font-family {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

%list-style-none {
    list-style: none;
}

////////
// float //
////////
%float-l {
    float: direction(left);
}

%float-r {
    float: direction(right);
}

%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        font: 0/0 a;
    }
    &:after {
        clear: both;
    }
}

//////////////
// position //
//////////////
%pos-r {
    position: relative;
}

%pos-a {
    position: absolute;
}

%pos-cont {
    content: '';
}

%pos-t-l {
    top: 0;
    left: 0;
}

////////////
// margin //
////////////
%mg-0-auto {
    margin: 0 auto;
}



/* function
   ========================================================================== */

/**
 * rem($px [, $width]?)
 * @param  {[Number]} $px     [px值]
 * @param  {[Number]} $width: $design_width [设计稿宽度]
 * @return {[Number]}         [rem值]
 * e.g.
 * rem(30)
 * rem(30, 750)
 */
$base_font: 100 !default; //默认 字体 大小
$html_font_size: $base_font + px;

$base_width: 320 !default; //默认 屏幕 宽度
$design_width: 640 !default; //默认 设计稿 宽度

@function rem($px, $width: $design_width) {
    @return ($px * $base_width) / ($base_font * $width) * 1rem;
}


/* mixin
   ========================================================================== */

/**
 * border($d [, $width [, $color [, $style]? ]? ]?)
 * 
 * $d: [all | top | right | bottom | left]  must
 *
 * default: 1px solid #ccc;
 *
 * e.g.
 * border(all) => border: default;
 * border(top) => border-top: default;
 * 
 * border(all, 0) => border: 0;
 * border(top, 0) => border-top: 0;
 * 
 * border(all, 5px, red) => border: 5px solid red;
 * border(top, 5px, red, dashed) => border-top: 5px dashed red;
 */
$border_width: 1px !default;
$border_color: #ccc !default;
$border_style: solid !default;

@mixin border(
    $d: (),
    $width: $border_width,
    $color: $border_color,
    $style: $border_style
) {
    $border-name: if($d == all, border, border-#{$d});

    @if $width {
        @if $width != 0 {
            #{$border-name}: $width $style $color;
        } @else {
            #{$border-name}: 0;
        }
    } @else {
        #{$border-name}: $width $style $color;
    }

}
