/**
 * _global
 * scss变量，placeholder，mixin，function
 */

/* variable
   ========================================================================== */

// color
$c-theme: #42b983 !default;
$c-base: #333 !default;
$c-border: #DBDBDB;

$c-white: #fff;
$c-red: #c7254e !default;
$c-red-light: #f5d6df !default;
$c-gray-light: #eee !default;

// size
$size_base: 0.14rem !default;
$size_lg: 0.24rem !default;
$size_md: 0.20rem !default;
$size_sm: 0.16rem !default;

/* placeholder
   ========================================================================== */

%font-family {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

%li-no {
    list-style: none;
}

%mg-auto {
    margin: auto;
}

%clearfix {
    &:before,
    &:after {
        @extend %cont;
        display: table;
        font: 0/0 a;
    }
    &:after {
        clear: both;
    }
}

%fl {
    float: left;
}

%fr {
    float: right;
}

%transition {
    transition: all 0.5s ease;
}

%bgr-no {
    background-repeat: no-repeat;
}

%bgp-ct {
    background-position: center top;
    @extend %bgr-no;
}

%bgp-cc {
    background-position: center center;
    @extend %bgr-no;
}

%pos-a {
    position: absolute;
}

%pos-r {
    position: relative;
}

%pos-cc {
    @extend %pos-a;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    @extend %mg-auto;
}

%cont {
    content: '';
}

%ov-h {
    overflow: hidden;
}

%wh-full {
    width: 100%;
    height: 100%;
}

%tac {
    text-align: center;
}

%tal {
    text-align: left;
}

%tar {
    text-align: right;
}

%tb-full {
    width: 100%;
    display: table;
}

%tb-cell {
    display: table-cell;
    vertical-align: middle;
}

%bdrs-circle {
    border-radius: 50%;
}

%cur-p {
    cursor: pointer;
}

%dn {
    display: none;
}

%db {
    display: block;
}



/* function
   ========================================================================== */

/**
 * rem($px, $width)
 * @param  {Number} $px     px值
 * @param  {Number} $width  设计稿宽度
 * @return {Number}         rem值
 * e.g.
 * rem(30)
 * rem(30, 750)
 */
$base_font: 100 !default; //默认 字体 大小
$html_font_size: $base_font + px;

$base_width: 320 !default; //默认 屏幕 宽度
$design_width: 750 !default; //默认 设计稿 宽度

@function rem($px, $width: $design_width) {
    @return $px * $base_width / $base_font / $width + rem;
}


/* mixin
   ========================================================================== */

/**
 * border($d, $w, $c, $s)
 * @param $d 方位 top | right | bottom | left
 * @param $w 宽度 1[px|rem]
 * @param $c 颜色 #DBDBDB
 * @param $s 样式 solid | dashed | dotted
 * e.g.
 * @include border();           => border: 1px solid #DBDBDB;
 * @include border($d: bottom); => border-bottom: 1px solid #DBDBDB;
 * @include border($w: 0); => border: 0;
 * @include border($d: bottom, $w: 0); => border-bottom: 0;
 */
$border_width: 1px !default;
$border_color: $c-border !default;
$border_style: solid !default;

@mixin border(
    $d: null,
    $w: $border_width,
    $c: $border_color,
    $s: $border_style
) {
    $border-name: if($d, border-#{$d}, border);

    @if $w != 0 {
        #{$border-name}: $w $s $c;
    } @else {
        #{$border-name}: none;
    }

}


/**
 * 背景 cover
 * @include bg-cover(banner);
 */
@mixin bg-cover($img_url, $size: cover) {
    background-image: url('../images/#{$img_url}.png');
    @extend %bgp-cc;
    background-size: $size;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/#{$img_url}.png',
    sizingMethod='scale')\0;
}

/**
 * @include blur($size);
 */
@mixin blur($size: null) {
    @extend %ov-h;
    filter: blur(#{$size});
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$size}')\0;
}

/**
 * 方位值
 * @include dir($t: 20px, $r: 20rem);
 */
@mixin dir($t: null,
$r: null,
$b: null,
$l: null) {
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}

/**
 * 据对定位 + 方位值
 * @include pos-dir($t: 20px, $r: 20rem);
 */
@mixin pos-dir($t: null,
$r: null,
$b: null,
$l: null) {
    @extend %pos-a;
    @include dir($t,
    $r,
    $b,
    $l);
}

/**
 * 圆
 * @include circle($l: 20px);
 */
@mixin circle($l: null) {
    width: $l;
    height: $l;
    @extend %bdrs-circle;
}
