/*! _global */

/* variable
   ========================================================================== */

// color
$color_base: #333 !default;
$color_a: #ccc !default;

// size
$size_large: 2.4rem !default;
$size_large: 2.4rem !default;
$size_large: 2.4rem !default;

// direction
$direction: top right bottom left;
$d_t: nth($direction, 1);
$d_r: nth($direction, 2);
$d_b: nth($direction, 3);
$d_l: nth($direction, 4);

/* placeholder
   ========================================================================== */

%font_family {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

%fl {
    float: $d_l;
}

%fr {
    float: $d_r;
}

%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        font: 0/0 a;
    }
    &:after {
        clear: both;
    }
}


/* function
   ========================================================================== */

/**
 * rem转换
 * @type {Number}
 * rem(30)
 * rem(30, 750)
 */
$base_font: 10 !default; //默认 字体 大小
$html_font_size: $base_font + px;

$base_width: 320 !default; //默认 屏幕 宽度
$design_width: 640 !default; //默认 设计稿 宽度

@function rem($px, $width: $design_width) {
    @return($px * $base_width) / ($base_font * $width) * 1rem;
}


/* mixin
   ========================================================================== */

/**
 * border
 */
$bd_width: 1px;
$bd_style: solid;
$bd_color: $color_a;
$bd_direction: $d_b;

@mixin bd($width: $bd_width, $style: $bd_style, $color: $bd_color) {
    border: $width $style $color;
}

@mixin bd-d($direction: $bd_direction) {
    border-#{$direction}: 1px solid red;
}

/* component
   ========================================================================== */

/**
 * 网格系统
 *
 <div class="grid">
     <div class="grid-item grid-item-12">12</div>
     <div class="grid-item grid-item-12">12</div>
 </div>

 <div class="grid grid-gutter">
     <div class="grid-item grid-item-12">12</div>
     <div class="grid-item grid-item-12">12</div>
 </div>
 */
$grid_class: grid;
$grid_item_class: grid-item;
$grid_gutter_class: grid-gutter;

$gird_column: 24;//分24栏
$grid_gutter: 2%;//间距8px 可选

.#{$grid_class} {
    @extend %clearfix;
    @include bd-d;
}

.#{$grid_gutter_class} {
    margin: 0 -#{$grid_gutter};
}

.#{$grid_item_class} {
    @extend %fl;
}

.#{$grid_gutter_class} {
    .#{$grid_item_class} {
        padding: 0 #{$grid_gutter};
    }
}

@for $i from 1 through $gird_column {
    .#{$grid_item_class}-#{$i} {
        width: $i / $gird_column * 100%;
    }
}

