@import './normalize.scss';
@import './reset.scss';
@import './_global.scss';

/*! base */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    color: $color_base;
    line-height: 1.5;
    @extend %font_family;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.6rem;
}

h4,
h5,
h6 {
    font-size: 1.4rem;
}

img {
    max-width: 100%;
}

pre, code, kbd {
    @extend %font_family;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}
/* @media screen and (max-width: 640px) {
    h3 {
        font-size: 30px;
    }
}
@media (min-width: 641px) and (max-width: 1024px) {
    h3 {
        font-size: 40px;
    }
}
@media screen and (max-width: 1025px) {
    h3 {
        font-size: 50px;
    }
}
 */
