/**
 * 全局样式
 */

@import './_global.scss';

html {
    font-size: $html_font_size;
}

body {
    font-size: 14px;
}

a {
    display: block;
    width: rem(30, 320);
    height: rem(30, 320);
    background: pink;
}
