@import './_global.scss';
@import './normalize.scss';
@import './reset.scss';

/* base */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    color: #333;
    line-height: 1.5;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.6rem;
}

h4,
h5,
h6 {
    font-size: 1.4rem;
}

code,
pre {
    font-family: Monaco, Menlo, Consolas, "Courier New", FontAwesome, monospace;
}

img {
    max-width: 100%;
}
/* @media screen and (max-width: 640px) {
    h3 {
        font-size: 30px;
    }
}
@media (min-width: 641px) and (max-width: 1024px) {
    h3 {
        font-size: 40px;
    }
}
@media screen and (max-width: 1025px) {
    h3 {
        font-size: 50px;
    }
}
 */
