/*! reset */

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*! base */
html {
    font-size: $html_font_size;
}

body {
    @extend %font-family;
    font-size: $size_base;
    color: $color_base;
    line-height: 1.5;
    word-break: break-all;
}

$headings: (
    h1: $size_lg,
    h2: $size_md,
    h3: $size_sm
) !default;

@each $header, $size in $headings {
    #{$header} {
        font-size: $size;
    }
}

h4,
h5,
h6 {
    font-size: $size_base;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
}

mark {
    color: $color_b;
    padding: 2px 4px;
    margin: 0 4px;
    background: $color_c;
}

hr {
    @include border(all, 0);
    @include border(top);
}

pre, code, kbd {
    @extend %font-family;
}

pre {
    white-space: pre-wrap;
    background: $color_d;
    padding: 15px;
    @include border(all);
}

.eg-code {
    padding: 0 20px;
}

/* @media screen and (max-width: 640px) {
    h3 {
        font-size: 30px;
    }
}
@media (min-width: 641px) and (max-width: 1024px) {
    h3 {
        font-size: 40px;
    }
}
@media screen and (max-width: 1025px) {
    h3 {
        font-size: 50px;
    }
}
 */

